* {
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(255, 237, 237);
  background: rgb(22,39,37);
  background: -moz-linear-gradient(135deg, rgba(32,19,37,1) 0%, rgba(38,36,53,1) 33%, rgba(15,28,36,1) 74%, rgba(12,19,37,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(32,19,37,1) 0%, rgba(38,36,53,1) 33%, rgba(15,28,36,1) 74%, rgba(12,19,37,1) 100%);
  background: linear-gradient(135deg, rgba(32,19,37,1) 0%, rgba(38,36,53,1) 33%, rgba(15,28,36,1) 74%, rgba(12,19,37,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#342743",endColorstr="#342743",GradientType=1); 
}

body {
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.vertical-timeline-element-date {
  font-size: 1.5rem !important;
}